<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- local files -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/fontawesome.css">
    <script src="../js/vue.js"></script>
    <script src="lessons.js"></script>
</head>
<body>
    <div id="app">
        <div v-if="shop">
            <div class="row mt-1">
                <div class="col-10">
                    <h1 class="text-center">{{ sitename }}</h1>
                </div>
                <div class="col-2">
                    <button class="btn btn-success" v-on:click="showCheckout" v-if="cartItemCount > 0">{{cartItemCount}} Checkout</button>
                    
                    <button class="btn btn-secondary disabled" disabled v-else>{{cartItemCount}} Checkout</button>
                </div>
            </div>
            <!-- PRODUCTS PAGE -->
            <div>
                <div class="row">
                    <div class="col-2 pl-5">
                        <h4>Sort by:</h4>
                        <fieldset>
                            <label>
                                <input type="radio" name="Sort" value="Price">Price
                            </label><br>
                            <label>
                                <input v-model="sort" type="radio" name="Sort" value="price" v-on:click="sortedLessons('price', ord)">Price
                            </label><br>
                            <label>
                                <input v-model="sort" type="radio" name="Sort" value="subj">Subject
                            </label><br>
                            <label>
                                <input v-model="sort" type="radio" name="Sort" value="loc">Location
                            </label><br>
                            <label>
                                <input v-model="sort" type="radio" name="Sort" value="avail">Availability
                            </label><br>
                        </fieldset>
                        
                        <h4 class="mt-5">Order</h4>
                        <fieldset>
                            <label>
                                <input v-model="ord" type="radio" name="Order" value="asc">Ascending
                            </label><br>
                            <label>
                                <input type="radio" name="Order" value="des" v-model="ord">Descending
                            </label><br>
                        </fieldset>
                        
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <div class="col-3 mb-3" v-for="lesson in sortedLessons(sort, ord)">
                                <div class="card">
                                    <img v-bind:src="lesson.image" style="height: 200px;">
                                    <div class="card-body">
                                        <h5 class="card-title" v-text="lesson.subject"></h5>
                                        <p>Location: {{lesson.location}}</p>
                                        <p>Price: {{lesson.price}}</p>
                                        <p>Number of spaces: {{lesson.availableInventory - cartCount(lesson.id)}}</p>
                                        <button v-on:click="addToCart(lesson)" v-if="canAddToCart(lesson)" class="btn btn-block btn-info">
                                            Add to cart
                                        </button>
                                        <button class="btn btn-secondary btn-block disabled" v-else>
                                            Out of stock
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CHECKOUT PAGE -->
                <div v-else>
                    <div class="row mt-1">
                        <div class="col-10">
                            <h1 class="text-center">Checkout</h1>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-success" v-on:click="showCheckout">{{cartItemCount}} Lessons</button>
                        </div>
                    </div>
                    <form>
                        <div class="row m-5">
                            <div class="form-group col-4">
                                <label>First Name:</label>
                                <input v-model="order.fullname" class="form-control border-top-0 border-left-0 border-right-0">
                            </div>
                            <div class="form-group col-4">
                                <label>Phone:</label>
                                <input v-model.number="order.phone" class="form-control border-top-0 border-left-0 border-right-0">
                            </div>
                            <div class="form-group col-4">
                                <button class="btn btn-primary" v-if="checkoutBtn">Checkout</button>
                                
                                <button class="btn btn-secondary" disabled v-else>Checkout</button>
                            </div>
                        </div>
                    </form>
                </div>
                <script>
                    var lessonStore = new Vue({
                        el: "#app",
                        data: {
                            sitename: "Lessons Store",
                            lessons: lessons,
                            cart: [],
                            order: {
                                fullname: '',
                                phone: ''
                            },
                            shop: true,
                            sort: "subj",
                            ord: "asc"
                        },
                        methods: {
                            addToCart: function (lesson) {
                                this.cart.push(lesson.id);
                            },
                            cartCount(id) {
                                let count = 0;
                                for (let i = 0; i < this.cart.length; i++) {
                                    if (this.cart[i] === id) {
                                        count++;
                                    }
                                }
                                return count;
                            },
                            canAddToCart: function (lesson) {
                                return lesson.availableInventory > this.cartCount(lesson.id);
                            },
                            showCheckout() {
                                this.shop = this.shop ? false : true;
                            },
                            sortedLessons(sort, order) {
                                let lessonsArray = this.lessons.slice(0);
                                switch (sort) {
                                    // sort by price
                                    case "price":
                                    if (order == "asc") {
                                        function comparePrice(a, b) {
                                            if (a.price > b.price)
                                            return 1
                                            if (a.price < b.price)
                                            return -1
                                            return 0
                                        }
                                        return lessonsArray.sort(comparePrice)
                                    } else {
                                        function comparePrice(a, b) {
                                            if (a.price > b.price)
                                            return -1
                                            if (a.price < b.price)
                                            return 1
                                            return 0
                                        }
                                        return lessonsArray.sort(comparePrice)
                                    }
                                    break;
                                    
                                    // sort by location
                                    case "loc":
                                    if (order == "asc") {
                                        function compareLocation(a, b) {
                                            if (a.location > b.location)
                                            return 1
                                            if (a.location < b.location)
                                            return -1
                                            return 0
                                        }
                                        return lessonsArray.sort(compareLocation)
                                    } else {
                                        function compareLocation(a, b) {
                                            if (a.location > b.location)
                                            return -1
                                            if (a.location < b.location)
                                            return 1
                                            return 0
                                        }
                                        return lessonsArray.sort(compareLocation)
                                    }
                                    break;
                                    
                                    // sort by availability
                                    case "avail":
                                    if (order == "asc") {
                                        function compareAvailability(a, b) {
                                            if (a.availableInventory > b.availableInventory)
                                            return 1
                                            if (a.availableInventory < b.availableInventory)
                                            return -1
                                            return 0
                                        }
                                        return lessonsArray.sort(compareAvailability)
                                    } else {
                                        function compareAvailability(a, b) {
                                            if (a.availableInventory > b.availableInventory)
                                            return -1
                                            if (a.availableInventory < b.availableInventory)
                                            return 1
                                            return 0
                                        }
                                        return lessonsArray.sort(compareAvailability)
                                    }
                                    break;
                                    
                                    // by default, compare subject
                                    default:
                                    if (order == "asc") {
                                        function compareSubject(a, b) {
                                            if (a.subject > b.subject)
                                            return 1
                                            if (a.subject < b.subject)
                                            return -1
                                            return 0
                                        }
                                        return lessonsArray.sort(compareSubject)
                                    } else {
                                        function compareSubject(a, b) {
                                            if (a.subject > b.subject)
                                            return -1
                                            if (a.subject < b.subject)
                                            return 1
                                            return 0
                                        }
                                        return lessonsArray.sort(compareSubject)
                                    }
                                    break;
                                }
                            }
                        },
                        computed: {
                            cartItemCount: function () { //the property name
                                //its value is calculated when it is called
                                return this.cart.length;
                            },
                            checkoutBtn() {
                                if (this.order.fullname && this.order.phone) {
                                    return true
                                }
                                else {
                                    return false
                                }
                            }
                        }
                    })
                </script>
            </body>
            </html> 